.home_view {
  margin-top: 35px;
  margin-bottom: 15px;
  color: rgb(150, 0, 168);
  text-align: center;
}

.form_view {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.button {
  border: none;
  padding: 10px 15px;
  background-color: rgb(red, green, blue);
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}
