*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../../image/pink-watercolor-leaves-background_23-2148907681.jpg);
}

.App {
  width: 500px;
  margin: 10px auto;
  text-align: left;
  background-color: inherit;
}

.App_title {
  margin-top: 15px;
  margin-bottom: 15px;
}
